@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

html, body {
	height: 100%;
	width: 100%;
}

body {
	background-color: #2b353c;
	font-family: 'Montserrat', sans-serif;
	color: white;
}

.texto {
	margin: 50px;
	padding-bottom: 10px;
}